@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 39px;
margin-top: 50px;
width: 310px;
height: 25px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pyt9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 96px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pylf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 111px;
width: 25px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
position: relative;
display: flex;
margin-left: 5px;
margin-top: 0px;
width: 341px;
height: 8px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.6875em;
position: relative;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.6875em;
position: relative;
margin-left: 233px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-left: 43px;
margin-top: 50px;
height: 14px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-left: 103px;
margin-top: 15px;
height: 14px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 55px;
width: 159px;
height: 159px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pybn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 32px;
width: 98px;
height: 105px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6py4n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 85px;
width: 59px;
height: 59px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 309px;
flex-direction: column;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pzdf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 341px;
margin-top: 45px;
width: 18px;
height: 18px;
flex-shrink: 0;}
.artboard2container1row1 {
display: flex;
margin-top: 8px;
width: 51px;
height: 8px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pz6t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 18px;
width: 205px;
height: 301px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 1px;
width: 375px;
height: 357px;
align-items: center;
flex-direction: column;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 212px;
width: 188px;
height: 49px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 309px;
flex-direction: column;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q011.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 341px;
margin-top: 45px;
width: 18px;
height: 18px;
flex-shrink: 0;}
.artboard3container1row1 {
display: flex;
margin-top: 8px;
width: 51px;
height: 8px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 8px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pztp.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 18px;
width: 201px;
height: 303px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 1px;
width: 375px;
height: 357px;
align-items: center;
flex-direction: column;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 212px;
width: 188px;
height: 49px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 237px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3ob.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 16px;
margin-top: 24px;
width: 18px;
height: 18px;}
.artboard4container14row1 {
display: flex;
margin-top: 14px;
width: 50px;
height: 8px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3uw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 155px;
margin-top: 37px;
width: 67px;
height: 64px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 49px;
flex-direction: column;
justify-content: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3da.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 16px;
width: 21px;
height: 21px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 334px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 5px;
width: 309px;
height: 42px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q32j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 106px;
width: 13px;
height: 15px;}
.artboard4container10row1 {
display: flex;
margin-top: 135px;
width: 247px;
height: 60px;
align-items: center;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2sw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 60px;
height: 100%;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2ca.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 178px;
width: 9px;
height: 11px;}
.artboard4container10row2 {
display: flex;
margin-top: 34px;
width: 247px;
height: 60px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q1co.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 60px;
height: 100%;
align-self: stretch;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q0xo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 178px;
margin-top: 23px;
width: 9px;
height: 11px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 50px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 80px;
margin-top: 102px;
width: 635px;
height: 51px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pyt9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 55px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 197px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pylf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 227px;
width: 51px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
position: relative;
display: flex;
margin-left: 10px;
margin-top: 0px;
width: 698px;
height: 16px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.408em;
position: relative;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.408em;
position: relative;
margin-left: 477px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.432em;
margin-left: 88px;
margin-top: 102px;
height: 29px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.432em;
margin-left: 211px;
margin-top: 31px;
height: 29px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 113px;
width: 326px;
height: 326px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pybn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 66px;
width: 201px;
height: 215px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6py4n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 174px;
width: 121px;
height: 121px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 633px;
flex-direction: column;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pzdf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 698px;
margin-top: 92px;
width: 37px;
height: 37px;
flex-shrink: 0;}
.artboard2container1row1 {
display: flex;
margin-top: 16px;
width: 104px;
height: 16px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pz6t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 37px;
width: 420px;
height: 616px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 768px;
height: 731px;
align-items: center;
flex-direction: column;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 434px;
width: 385px;
height: 100px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 633px;
flex-direction: column;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q011.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 698px;
margin-top: 92px;
width: 37px;
height: 37px;
flex-shrink: 0;}
.artboard3container1row1 {
display: flex;
margin-top: 16px;
width: 104px;
height: 16px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 16px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pztp.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 37px;
width: 412px;
height: 621px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 768px;
height: 731px;
align-items: center;
flex-direction: column;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 434px;
width: 385px;
height: 100px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 485px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3ob.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 33px;
margin-top: 49px;
width: 37px;
height: 37px;}
.artboard4container14row1 {
display: flex;
margin-top: 29px;
width: 102px;
height: 16px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3uw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 317px;
margin-top: 76px;
width: 137px;
height: 131px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 100px;
flex-direction: column;
justify-content: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3da.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 33px;
width: 43px;
height: 43px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 684px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 10px;
width: 633px;
height: 86px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q32j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 217px;
width: 27px;
height: 31px;}
.artboard4container10row1 {
display: flex;
margin-top: 276px;
width: 506px;
height: 123px;
align-items: center;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2sw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 123px;
height: 100%;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2ca.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 365px;
width: 18px;
height: 23px;}
.artboard4container10row2 {
display: flex;
margin-top: 70px;
width: 506px;
height: 123px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q1co.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 123px;
height: 100%;
align-self: stretch;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q0xo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 365px;
margin-top: 47px;
width: 18px;
height: 23px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 102px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 96px;
margin-top: 123px;
width: 761px;
height: 61px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pyt9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 66px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 236px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pylf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 272px;
width: 61px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
position: relative;
display: flex;
margin-left: 12px;
margin-top: 0px;
width: 837px;
height: 20px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
position: relative;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
position: relative;
margin-left: 572px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-left: 105px;
margin-top: 123px;
height: 34px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-left: 253px;
margin-top: 37px;
height: 34px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 135px;
width: 390px;
height: 390px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pybn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 79px;
width: 240px;
height: 258px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6py4n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 209px;
width: 145px;
height: 145px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 758px;
flex-direction: column;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pzdf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 837px;
margin-top: 110px;
width: 44px;
height: 44px;
flex-shrink: 0;}
.artboard2container1row1 {
display: flex;
margin-top: 20px;
width: 125px;
height: 20px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pz6t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 44px;
width: 503px;
height: 738px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 920px;
height: 876px;
align-items: center;
flex-direction: column;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 520px;
width: 461px;
height: 120px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 758px;
flex-direction: column;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q011.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 837px;
margin-top: 110px;
width: 44px;
height: 44px;
flex-shrink: 0;}
.artboard3container1row1 {
display: flex;
margin-top: 20px;
width: 125px;
height: 20px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 20px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pztp.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 44px;
width: 493px;
height: 743px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 2px;
width: 920px;
height: 876px;
align-items: center;
flex-direction: column;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 520px;
width: 461px;
height: 120px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 581px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3ob.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 39px;
margin-top: 59px;
width: 44px;
height: 44px;}
.artboard4container14row1 {
display: flex;
margin-top: 34px;
width: 123px;
height: 20px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3uw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 380px;
margin-top: 91px;
width: 164px;
height: 157px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 120px;
flex-direction: column;
justify-content: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3da.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 39px;
width: 52px;
height: 52px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 819px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 12px;
width: 758px;
height: 103px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q32j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 260px;
width: 32px;
height: 37px;}
.artboard4container10row1 {
display: flex;
margin-top: 331px;
width: 606px;
height: 147px;
align-items: center;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2sw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 147px;
height: 100%;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2ca.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 437px;
width: 22px;
height: 27px;}
.artboard4container10row2 {
display: flex;
margin-top: 83px;
width: 606px;
height: 147px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q1co.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 147px;
height: 100%;
align-self: stretch;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q0xo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 437px;
margin-top: 56px;
width: 22px;
height: 27px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 123px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 125px;
margin-top: 160px;
width: 992px;
height: 80px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pyt9.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 86px;
height: 100%;
align-self: stretch;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 307px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pylf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 355px;
width: 80px;
height: 100%;
align-self: stretch;}
.artboard1container0row1 {
position: relative;
display: flex;
margin-left: 16px;
margin-top: 0px;
width: 1091px;
height: 26px;
align-items: stretch;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.2em;
position: relative;
margin-left: 0px;}
.style6 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.2em;
position: relative;
margin-left: 746px;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-left: 138px;
margin-top: 160px;
height: 45px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-left: 330px;
margin-top: 48px;
height: 45px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-top: 176px;
width: 509px;
height: 509px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pybn.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 102px;
width: 314px;
height: 336px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6py4n.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 272px;
width: 189px;
height: 189px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style18 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 989px;
flex-direction: column;}
.style20 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pzdf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 1091px;
margin-top: 144px;
width: 58px;
height: 58px;
flex-shrink: 0;}
.artboard2container1row1 {
display: flex;
margin-top: 26px;
width: 163px;
height: 26px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style21 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style23 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style22 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style19 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pz6t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5019607843137255);
position: relative;
margin-top: 58px;
width: 656px;
height: 963px;
align-self: center;
flex-shrink: 0;}
.style13 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 3px;
width: 1200px;
height: 1142px;
align-items: center;
flex-direction: column;}
.style14 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 678px;
width: 602px;
height: 157px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style30 {
background-color: #0088ff;
position: relative;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 989px;
flex-direction: column;}
.style32 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q011.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 1091px;
margin-top: 144px;
width: 58px;
height: 58px;
flex-shrink: 0;}
.artboard3container1row1 {
display: flex;
margin-top: 26px;
width: 163px;
height: 26px;
align-items: stretch;
align-self: center;
flex-shrink: 0;
justify-content: space-between;}
.style33 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style35 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
width: 26px;}
.style34 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style31 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6pztp.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
position: relative;
margin-top: 58px;
width: 643px;
height: 970px;
align-self: center;
flex-shrink: 0;}
.style25 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 3px;
width: 1200px;
height: 1142px;
align-items: center;
flex-direction: column;}
.style26 {
background-color: #0088ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-top: 678px;
width: 602px;
height: 157px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style67 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 758px;
flex-direction: column;}
.style72 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3ob.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 51px;
margin-top: 77px;
width: 58px;
height: 58px;}
.artboard4container14row1 {
display: flex;
margin-top: 45px;
width: 160px;
height: 26px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style70 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style68 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style69 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style73 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3uw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 496px;
margin-top: 118px;
width: 214px;
height: 205px;}
.style63 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 157px;
flex-direction: column;
justify-content: center;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q3da.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 51px;
width: 67px;
height: 67px;}
.style59 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1069px;
flex-direction: column;}
.style60 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 16px;
width: 989px;
height: 134px;
align-self: center;
flex-direction: column;
justify-content: center;}
.style61 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q32j.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 339px;
width: 42px;
height: 48px;}
.artboard4container10row1 {
display: flex;
margin-top: 432px;
width: 790px;
height: 192px;
align-items: center;
align-self: flex-end;}
.style58 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2sw.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 192px;
height: 100%;}
.style53 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q2ca.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 570px;
width: 29px;
height: 35px;}
.artboard4container10row2 {
display: flex;
margin-top: 109px;
width: 790px;
height: 192px;
align-self: flex-end;}
.style51 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q1co.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 192px;
height: 100%;
align-self: stretch;}
.style46 {
background-image: url('https://designresources.assets.yotako.io/e7upyk8lwjmt6q0xo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 570px;
margin-top: 74px;
width: 29px;
height: 35px;}
.style37 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 160px;}
}